FINNHUB_API_TOKEN=your_token_here

POLYGON_API_TOKEN=your_token_here

OPENROUTER_API_KEY=your_key_here

SPRING_PROFILES_ACTIVE=prod

DB_URL=jdbc:mariadb://localhost:3306/marketanalysisdb
DB_ROOT_PASSWORD=tu_password_root_segura
DB_DATABASE=marketanalysisdb
DB_USER=marketuser
DB_PASSWORD=tu_password_segura

DB_PORT_EXTERNAL=3306
APP_PORT_EXTERNAL=8080

APP_SECURITY_USERNAME=admin
APP_SECURITY_PASSWORD=admin