<div
  th:fragment="message"
  th:if="${uiNotification}"
  th:classappend="'alert-' + ${uiNotification.type}"
  class="alert alert-dismissible fade show"
  role="alert"
>
  <i
    th:class="${uiNotification.type == 'success' ? 'bi-check-circle-fill' : 'bi-exclamation-triangle-fill'}"
    class="bi me-2"
  ></i>

  <span th:text="${uiNotification.text}"></span>

  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Cerrar"
  ></button>
  <script th:src="@{/js/close-alert.js}"></script>
</div>
