<div
  th:fragment="notification"
  th:if="${uiNotification}"
  class="position-fixed top-0 end-0 p-3 notification-container"
>
  <div
    th:classappend="'alert-' + ${uiNotification.type}"
    class="alert alert-dismissible fade show shadow-lg border-0 js-notification-alert"
    role="alert"
  >
    <div class="d-flex align-items-center">
      <i
        class="bi fs-5 me-3 bi-check-circle-fill"
        th:if="${uiNotification.type == 'success'}"
      ></i>
      <i
        class="bi fs-5 me-3 bi-exclamation-circle-fill"
        th:if="${uiNotification.type == 'warning'}"
      ></i>
      <i
        class="bi fs-5 me-3 bi-exclamation-triangle-fill"
        th:if="${uiNotification.type != 'success' and uiNotification.type != 'warning'}"
      ></i>
      <div>
        <strong th:if="${uiNotification.type == 'success'}" th:text="#{notification.success}">¡Éxito!</strong>
        <strong th:if="${uiNotification.type == 'warning'}" th:text="#{notification.warning}">Parcial</strong>
        <strong th:if="${uiNotification.type != 'success' and uiNotification.type != 'warning'}" th:text="#{notification.error}">Aviso</strong>
        <div th:text="${uiNotification.text}" class="small"></div>
      </div>
      <button
        type="button"
        class="btn-close ms-auto"
        data-bs-dismiss="alert"
        aria-label="#{notification.close.aria}"
      ></button>
    </div>

    <div
      class="progress mt-2 notification-progress"
    >
      <div
        class="progress-bar js-notification-progress bg-success"
        th:if="${uiNotification.type == 'success'}"
      ></div>
      <div
        class="progress-bar js-notification-progress bg-warning"
        th:if="${uiNotification.type == 'warning'}"
      ></div>
      <div
        class="progress-bar js-notification-progress bg-danger"
        th:if="${uiNotification.type != 'success' and uiNotification.type != 'warning'}"
      ></div>
    </div>
  </div>
  <script th:src="@{/js/notification-alert.js}"></script>
</div>
